
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F6F6F6;
}

h1,
h2 {
	font-family: "Roboto Mono";
}

h3,
h4,
h5,
h6,
p {
	font-family: 'Lato';
	font-weight: 300;
}

.page {
	width: 70vw;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.main-content .card{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 50vw;
	background-color: #2f2f2f;
	border-radius: 25px;
	color: white;
}

.card h2 {
	margin-top: 5%;
	margin-left: 8%;
	font-size: 22px;
}

.card h4 {
	height: 30%;
	min-height: 80px;
	line-height: 24px;
	font-size: 15px;
	padding: 2% 8% 0% 0%;
	text-align: justify;
	margin-left: 8%;
}

.card .bottom-menu {
	display: flex;
	flex-direction: row;
	margin-bottom: 2.5%;
	margin-top: 3%;
	margin-left: 8%;
	width: 100%;
} 


.card .voting {
	position: absolute;
	right: 3%;
	top: 7%;
	display: flex;
	flex-direction: row;
}

.card .score_button {
	background-color: transparent;
	outline: none;
	border: none;
	width: 17px;
	height: 17px;
	margin-left: 10px;
	margin-right: 10px;
} 

.card .score_button img {
	width: 17px;
	height: 17px;
}

.bottom-menu div {
	height: 35px;
	width: auto;
	background-color: #171717;
	border-radius: 30px;
	position: relative;
	padding: 8px 20px;
	display: flex;
	flex-direction: row;
} 

.bottom-menu div p {
	font-family: "Roboto Mono";
	font-size: 13px;
}

.bottom-menu div button {
	width: auto;
	margin-left: 5%;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0px 5px;
}

.bottom-menu div img {
	height: 2vh;
}

.bottom-menu .button-empty-white {
	margin-left: 27%;
}

.bottom-menu .button-full-white {
	margin-left: 2%;
}

/* GENERAL BUTTONS */

.button-full-white,
.button-empty-white {
	height: 35px;
	width: 140px;
	border-radius: 40px;
}

.button-empty-white {
	background-color: transparent;
	border: 2px solid white;
	color: white;
}

.button-empty-white p{
	font-size: 16px;
	font-weight: bold;
	width: auto;
	height: auto;
	background-color: transparent;
	margin: auto;
}

.button-full-white {
	background-color: white;
	border: none;
}

.button-full-white p {
	font-size: 16px;
	font-weight: bold;
	height: auto;
	margin: auto;
	color: #171717;
	margin: auto;
	background-color: transparent;
}

.side-bar {
	margin-left: 5vw;
	margin-top: 10vh; 
}

.side-bar * {
	margin-bottom: 1px;
}

.side-bar h3 {
	margin-top: 30px;
	margin-bottom: 20px;
} 

.side-bar div div{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
