
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F6F6F6;
}

h1,
h2 {
	font-family: "Roboto Mono";
}

h3,
h4,
h5,
h6,
p {
	font-family: 'Lato';
	font-weight: 300;
}

.page {
	width: 60vw;
	margin: auto;
}

.page .content {
	display: flex;
	flex-direction: column;
}

.content {
	width: 100%;
}

.ds-card{
	width: 50vw;
}

.card h2 {
	margin-top: 5%;
	margin-left: 8%;
	font-size: 22px;
}

.card h4 {
	height: 30%;
	min-height: 40px;
	line-height: 24px;
	font-size: 15px;
	padding: 2% 8% 0% 0%;
	text-align: justify;
	margin-left: 8%;
}

.card .bottom-menu {
	display: flex;
	flex-direction: row;
	margin-bottom: 2.5%;
	margin-top: 3%;
	margin-left: 8%;
	width: 100%;
} 


.card .voting {
	position: absolute;
	right: 3%;
	top: 10%;
	display: flex;
	flex-direction: row;
}

.card .score_button {
	background-color: transparent;
	outline: none;
	border: none;
	width: 17px;
	height: 17px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
} 

.card .score_button img {
	width: 17px;
	height: 17px;
	margin-top: 1px;
}

.bottom-menu div {
	height: 35px;
	width: auto;
	background-color: #171717;
	border-radius: 30px;
	position: relative;
	padding: 8px 30px;
	display: flex;
	flex-direction: row;
} 

.bottom-menu div p {
	font-family: "Roboto Mono";
	font-size: 13px;
}

.bottom-menu div button {
	width: auto;
	margin-left: 5%;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0px 5px;
}

.bottom-menu div img {
	height: 2vh;
}

.bottom-menu .button-empty-white {
	position: absolute;
	right: calc(3% + 3% + 140px);
}

.bottom-menu .button-full-white {
	position: absolute;
	right: 3%;
}

.side-bar {
	position: absolute;
	right: 15vw;
	width: 200px;
	margin-top: 100px;
	font-size: 14px;
}

.side-bar * {
	margin-bottom: 1px;
}

.side-bar h3 {
	font-size: 16px;
	font-weight: 800;
	margin-top: 20px;
	margin-bottom: 20px;
} 

.side-bar div h3 {
	margin-top: 50px;
}

.side-bar div img {
	margin-right: 10px;
}

.side-bar .owner {
	display: flex;
	flex-direction: row;
}

.owner div {
	background-color: #2f2f2f;
	height: 30px;
	width: 30px;
	border-radius: 30px;
}

.owner p {
	margin-top: 15px;
	margin-left: 10px;
	text-decoration: underline;
}

.side-bar .x {
	margin-top: 30px;
}

.side-bar div div{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}


/* CONTENT BAR */

.sample,
.content {
	width: 50vw;
}

.content .buttons {
	display: flex;
	flex-direction: row;
}

.buttons {
	margin-left: 50px;
}

.buttons button {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	margin: 50px 50px 50px 50px;
	font-weight: 600;
	font-size: 14px;
}

#button-clicked {
	background-color: #2f2f2f;
	padding: 10px 30px 10px 30px;
	margin: 40px 20px 40px 20px;
	color: white;
	border-radius: 40px;
}

.sample .snippet{
	width: 100%;
	height: auto;
	padding: 50px 50px 50px 100px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 1px  1px rgb(0 0 0 / 11%), 
	            0 2px  2px rgb(0 0 0 / 11%), 
							0 4px  4px rgb(0 0 0 / 11%), 
							0 6px  8px rgb(0 0 0 / 11%),
							0 8px 16px rgb(0 0 0 / 11%);

}

.content .table {
	width: 100%;
	height: auto;
	max-height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 50px 50px 50px 10px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 1px  1px rgb(0 0 0 / 11%), 
	            0 2px  2px rgb(0 0 0 / 11%), 
							0 4px  4px rgb(0 0 0 / 11%), 
							0 6px  8px rgb(0 0 0 / 11%),
							0 8px 16px rgb(0 0 0 / 11%);
	margin-top: 2vh;
}

.table table {
	font-size: 12px;
	font-family: "Roboto Mono";
	font-weight: 300;
	border-spacing: 30px 8px;
}

.readme {
	width: 100%;
	height: auto;
	padding: 50px 50px 50px 100px;
	background-color: white;	
	border-radius: 25px;
	box-shadow: 0 1px  1px rgb(0 0 0 / 11%), 
	            0 2px  2px rgb(0 0 0 / 11%), 
							0 4px  4px rgb(0 0 0 / 11%), 
							0 6px  8px rgb(0 0 0 / 11%),
							0 8px 16px rgb(0 0 0 / 11%);
}

